rules_version = '2';
service cloud.firestore {
   match /databases/{database}/documents {
     match /users/{userId} {
      allow read, update: if request.auth.uid == userId
      allow create: if request.auth.uid == userId && request.resource.data.signupDate == request.time;
    }
    match /users/{userId}/faces/{faceId} {
      allow read, update, delete: if request.auth.uid == userId
      allow create: if request.auth.uid == userId && request.resource.data.timeCreated == request.time;
    }
  }
}